/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

    0. Post Showcase
    1. Post Categories
 */

/* -------------------------------------------------------------------------- */

/* 0. Post Showcase
/* -------------------------------------------------------------------------- */

.post-showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
    justify-content: center;
    max-width: 68rem;
}

.post-preview {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    margin: 2rem;
    gap: 0;
    overflow: hidden;
    text-decoration: none;
    width: 100%;
}

.post-preview-header {
    font-size: .875em;
    padding: 0;
    margin: 0.5rem 0rem;
}

.post-preview-content > h5 {
    font-family: var(--font-headers);
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.post-preview-image {
    max-height: 8rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 100%;
}

.post-preview-content {
    flex-grow: 1;
    font-family: var(--font-content);
    margin: 0.5rem 0rem;
    min-height: 0;
    height: fit-content;
    padding: 0;
    padding-bottom: 1rem;
}

/* -------------------------------------------------------------------------- */

/* 1. Post Categories
/* -------------------------------------------------------------------------- */

.post-category-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    font-size: 0.875em;
    gap: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100%;
}

.post-category {
    padding: 0;
    margin: 0.5rem 0rem;
}

a.post-category {
    color: inherit;
    text-decoration: none;
}

.post-category:not(.post-category-selected) {
    opacity: 0.67;
}
